<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aschen.smartserveur" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activity.FlashCodeActivity"
            android:label="@string/title_activity_flash_code" >

            <!-- android:parentActivityName=".activity.MainActivity" > -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".activity.MainActivity" /> -->
        </activity>
        <activity
            android:name=".activity.AccueilTableActivity"
            android:label="@string/title_activity_accueil_table"
            android:parentActivityName=".activity.FlashCodeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FlashCodeActivity" />
        </activity>
        <activity
            android:name=".activity.ShowCategoriesActivity"
            android:label="@string/title_activity_show_categories"
            android:parentActivityName=".activity.AccueilTableActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccueilTableActivity" />
        </activity>
        <activity
            android:name=".activity.ShowProductsActivity"
            android:label="@string/title_activity_show_products"
            android:parentActivityName=".activity.ShowCategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShowCategoriesActivity" />
        </activity>
        <activity
            android:name=".activity.ShowProductActivity"
            android:label="@string/title_activity_show_product"
            android:parentActivityName=".activity.ShowProductsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ShowProductsActivity" />
        </activity>
        <activity
            android:name=".activity.ShowOrdersActivity"
            android:label="@string/title_activity_show_orders"
            android:parentActivityName=".activity.AccueilTableActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AccueilTableActivity" />
        </activity>
        <activity
            android:name=".activity.CrudActivity"
            android:label="@string/title_activity_crud"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".activity.CrudActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aschen.smartserveur.activity.CrudActivity" />
        </activity>
        <activity
            android:name=".activity.UselessActivity"
            android:label="@string/title_activity_useless" >
        </activity>
    </application>

</manifest>
